@{
    ViewData["Title"] = "About";
}
<h2>About you know</h2>
<div style="width:50%">
    <p>Som 10 åring började han skapa saker med händerna, det var en enkel hemsida och hans material var tangentbordet.</p>
</div>
