@{
    ViewData["Title"] = "Contact";
    
}
<h2>Contact</h2>
<div>
    <ul>
        <li>tel: 070-xxxxxx</li>
        <li>mail: example@example.com</li>
        <li>adress: Göteborgsgatan 607 Göteborg</li>
    </ul>
</div>