@{
    ViewData["Title"] = "Projects";
}
<h2>Pro Rejects</h2>

<div>
    <ul>
        <li>
            <a href="https://github.com/Tofomb/Calculator">Kalkylator</a>
        </li>
        <li>
             <a href="https://github.com/Tofomb/Sokoban2">Sokoban</a>
        </li>
    </ul>
</div>